*
    margin: 0
    padding: 0

a
    text-decoration: none

li
    list-style: none

body
    font-family: 'PlumbCondensed', sans-serif
    display: flex
    flex-direction: column
    min-height: 100vh

@font-face 
	font-family: 'PlumbCondensed'
	src: url('fonts/ofont.ru_Plumb.eot')
	src: local('☺'), url('fonts/ofont.ru_Plumb.woff') format('woff'), url('fonts/ofont.ru_Plumb.ttf') format('truetype'), url('fonts/ofont.ru_Plumb.svg') format('svg')
	font-weight: 500
	font-style: normal

@font-face 
	font-family: 'PlumbCondensed'
	src: url('fonts/plumbcondensed-light.eot')
	src: local('☺'), url('fonts/plumbcondensed-light.woff') format('woff'), url('fonts/plumbcondensed-light.ttf') format('truetype'), url('fonts/plumbcondensed-light.svg') format('svg')
	font-weight: 300
	font-style: normal

@font-face 
	font-family: 'Trebuchet MS'
	src: url('fonts/trebuc.eot')
	src: local('☺'), url('fonts/trebuc.woff') format('woff'), url('fonts/trebuc.ttf') format('truetype'), url('fonts/trebuc.svg') format('svg')
	font-weight: 500
	font-style: normal

@font-face 
	font-family: 'Trebuchet MS'
	src: url('fonts/trebucbd.eot')
	src: local('☺'), url('fonts/trebucbd.woff') format('woff'), url('fonts/trebucbd.ttf') format('truetype'), url('fonts/trebucbd.svg') format('svg')
	font-weight: 700
	font-style: normal

@font-face 
	font-family: 'Trebuchet MS'
	src: url('fonts/trebucit.eot')
	src: local('☺'), url('fonts/trebucit.woff') format('woff'), url('fonts/trebucit.ttf') format('truetype'), url('fonts/trebucit.svg') format('svg')
	font-weight: normal
	font-style: italic

.container 
    margin: 0 auto
    max-width: 1160px

address 
    background-color: rgba(21, 21, 21, 0.78)

.address__wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    padding: 0 5%px

.address__text 
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4)
    color: #ffffff
    font-family: 'PlumbCondensed', sans-serif
    font-size: 17px
    font-style: normal
    font-weight: 300
    text-transform: uppercase
    padding: 8px 5px 7px
    &_red
        color: #f5135c

.logo-wrapper
    display: flex
    justify-content: center
    padding: 17px 0 22px
    background-color: #5b749a
    position: relative
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%)

.logo-wrapper:after
    content: ' '
    background-image: url(img/shadow1.png)
    display: block
    width: 100%
    height: 19px
    position: absolute
    bottom: -4px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
 
.logo
    display: inline-block
    text-decoration: none

.logo__text
    color: #ffffff
    font-family: "Trebuchet MS"
    font-size: 44px
    font-weight: 700
    line-height: 51px
    text-transform: uppercase
    letter-spacing: 1.1px
    display: block
    padding: 8px 0 0 10px
    &_red
        color: #f5135c

header 
    height: 90vh
    background-image: url(img/first_screen.jpg)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: relative

.nav_header 
    background: rgba(255, 255, 255, 0.78)
    position: relative 

.nav_header:after 
    content: ' '
    background-image: url(img/shadow.png)
    display: block
    width: 100%
    height: 11px
    position: absolute
    bottom: -9px
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.menu
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    justify-content: center
    
.menu-in
    display: flex
    flex-direction: column
    display: none

.menu__list 
    position: relative

.menu__list:before
    content: ' '
    background-image: url(img/divide.svg)
    display: block
    width: 3px
    height: 30px
    position: absolute
    left: 0

.menu__list:last-child:after
    content: ' '
    background-image: url(img/divide.svg)
    display: block
    width: 3px
    height: 30px
    position: absolute
    right: 0
    top: 0

.menu__link
    display: inline-block
    display: flex
    flex-direction: column
    align-items: center
    padding-bottom: 7px
    position: relative

.menu__link:hover .red-line
    display: block

.menu__list_qestions:hover .menu-in
    display: flex

.menu__link_span
    display: block
    padding: 10px 5px 2px
    color: #383838
    font-family: 'PlumbCondensed', sans-serif
    font-size: 18px
    font-weight: 400
    line-height: 18px
    text-transform: uppercase
    text-align: center
    
.red-line
    width: 70%
    height: 2px
    background: #f5135c
    margin: 0px auto
    position: absolute
    bottom: 5px
    display: none
    transition: 0.4s

.fig
    display: flex
    height: 82px
    background: rgba(255, 255, 255, 0.24)
    position: absolute
    bottom: 23px
    width: 100%
    align-items: center

.figcap
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.46)
    color: #ffffff
    font-family: 'PlumbCondensed'
    font-size: 29px
    font-weight: 300
    line-height: 29px
    text-transform: uppercase
    text-align: right
 
main
    flex-grow: 1

.what-snils__header
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.46)
    color: #ffffff
    font-family: 'PlumbCondensed'
    font-size: 29px
    font-weight: 400
    text-transform: uppercase
    width: 100%
    text-align: center
    margin: 62px auto 33px
    background-color: #f5135c
    height: 51px
    line-height: 51px

.what-snils__text
    max-width: 1109px
    color: #272727
    font-family: 'Trebuchet MS'
    font-size: 16px
    font-weight: 400
    line-height: 24px
    text-align: center
    margin: 0 auto 45px

.what-snils__grid
    display: grid
    max-width: 1109px
    margin: 0 auto
    grid-template-columns: 440px 1fr
    margin-bottom: 50px

.what-snils__grid_description
    padding: 14px 24px 14px 51px

.snils350
    display: none

.what-snils__text_grid
    max-width: 616px
    font-weight: 700
    margin: 0 0 20px 0
    text-align: left

.what-snils__list
    color: #272727
    font-family: 'Trebuchet MS'
    font-size: 16px
    font-weight: 400
    line-height: 24px
    text-align: left
    padding: 10px 0 10px 38px
    position: relative
  
.what-snils__list:before
    content: ' '
    background-image: url(img/arrow.png)
    display: block
    width: 29px
    height: 29px
    position: absolute
    left: 0
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.what-snils__footer   
    max-width: 1100px
    margin: 0 auto 80px
    color: #f5135c
    font-family: "Trebuchet MS"
    font-size: 18px
    font-weight: 400
    line-height: 24px
    text-transform: uppercase
    text-align: center
    
.where-snils 
    height: 170vh
    background-image: url(img/34_screen.png)
    background-position: bottom
    background-repeat: no-repeat
    background-size: cover
    position: relative
    padding: 40px

.where-snils__header
    max-width: 1090px
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)
    color: #ffffff
    font-family: "Trebuchet MS"
    font-size: 18px
    margin: 0px auto
    line-height: 24px
    text-transform: uppercase

.where-snils__title
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.46)
    color: #ffffff
    font-family: 'PlumbCondensed'
    font-size: 48px
    font-weight: 400
    line-height: 86px
    text-transform: uppercase
    width: 626px
    height: 86px
    text-align: center
    margin: 40px auto
    display: block
    background-image: url(img/where_search.png)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: relative

.where-snils__grid
    display: grid
    widows: 100%
    grid-template-columns: 1fr 1fr

.where-snils__grid_item
    display: flex
    flex-direction: column
    align-items: center
    text-align: center

.where-snils__grid_title
    color: #ffffff
    font-family: 'PlumbCondensed'
    font-size: 30px
    font-weight: 300
    line-height: 36px
    text-transform: uppercase
    margin: 30px auto 20px

.where-snils__text
    color: #ffffff 
    font-family: "Trebuchet MS"                                                
    font-size: 17px                                               
    font-weight: 500   
    line-height: 20px  
    padding: 10px   

.where-snils__footer_text
    width: 276px
    height: 99px
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.34);
    color: #ffffff
    font-family: "PlumbCondensed"
    font-size: 30px
    font-weight: 400
    line-height: 36px       
    position: absolute
    bottom: 80px
    left: 45%                                                         

.details-snils__img
    margin: 70px auto 80px
    width: 900px

.details-snils__text
    margin: 0 auto 70px
    max-width: 1000px
    text-align: center
    color: #2d2d2d
    font-family: 'Trebuchet MS'
    font-size: 17px
    font-weight: 400
    line-height: 27px

footer
    background-image: url(img/footer.png)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: relative 
    
.nav_footer:after 
    content: ' '
    background-image: url(img/shadow3.png)
    display: block
    width: 90%
    height: 3px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    margin: 0 auto

.menu__link_span_footer
    height: 15px
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35)
    color: #ffffff
    font-family: 'Trebuchet MS'
    font-size: 16px
    font-weight: 200
    padding: 10px 5px 5px

.footer-wrapper
    display: flex
    justify-content: space-between
    padding: 20px 14px

.form-title
    max-width: 323px
    color: #ffffff
    font-family: "Trebuchet MS"
    font-size: 14px
    font-weight: 400
    line-height: 18px
    margin-left: 16px

.form-grid
    display: grid
    grid-template-columns: 243px 243px
    grid-gap: 14px
    margin-top: 17px
    margin-bottom: 28px

.input-wrapper
    display: grid
    grid-gap: 11px
    grid-template-columns: 1fr

input
    padding: 5px 15px

button
    width: 155px
    height: 40px
    border-radius: 4px
    background-color: #ec2b6a
    color: #ffffff
    font-family: "Trebuchet MS"
    font-size: 14px
    font-weight: 400
    line-height: 24px
    text-transform: uppercase

.PHONE
    text-align: right
    height: 69px
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4)
    color: #fffefe
    font-family: "PlumbCondensed"
    font-size: 30px
    font-weight: 300
    line-height: 40px
    text-transform: uppercase

.address__footer
    background-color: inherit



@media screen and (max-width: 900px)
    .what-snils__header
        margin-top: 30px
    .what-snils__text
        margin-bottom: 20px
    .what-snils__text_grid
        text-align: center
        margin: 0 auto
    .what-snils__grid
        grid-template-columns: 1fr
        margin-bottom: 20px
    .what-snils__footer
        margin-bottom: 30px
    .where-snils
        position: relative
        padding: 10px
    .where-snils__title
        margin: 10px auto
    .where-snils__header
        font-size: 12px
        line-height: 20px
        text-align: center
    .where-snils__img
        display: none
    .where-snils__grid_title
        margin: 10px auto
    .details-snils__img
        display: none
    .snils
        margin: 0 auto
    .details-snils__text
        margin: 0 auto 10px
    .menu_footer
        grid-template-columns: 1fr 1fr 1fr


@media screen and (max-width: 480px)
    .menu
        grid-template-columns: 1fr
    .menu__list:after
        content: ' '
        background-image: url(img/divide.svg)
        display: block
        width: 3px
        height: 30px
        position: absolute
        right: 0
        top: 0
    .what-snils__header
        height: auto
    .snils350
        display: block
        margin: 0 auto
    .snils
        display: none
    .where-snils__title
        font-size: 24px
        line-height: 86px
        max-width: 95%
    .where-snils__grid
        grid-template-columns: 1fr
    .where-snils__footer_text
        left: 20%
        bottom: 150px
    .menu_footer
        grid-template-columns: 1fr
    .footer-wrapper
        display: grid
        grid-template-columns: 1fr
    .form-grid
        grid-template-columns: 1fr
    button
        display: block
        margin: 0 auto 20px
    .PHONE
        text-align: center
